#input{
    font-size:30px;
    height:400px;
    width:400px;
    margin-right:100px;
}
#kana{
    display:inline-block;
    vertical-align:top;
    padding:50px;
}

.kana-key{
    display:inline-block;
    position:relative;
    margin-right:80px;
    margin-bottom:100px;
}
.kana-key div{
    font-size:30px;
    background:white;
}


.kana-key.in-use div{
    display:block;
    box-shadow:0 0 4px #666;
}

.kana-key .top,
.kana-key .right,
.kana-key .bottom,
.kana-key .left{
    position:absolute;
    opacity: 0.5;
    z-index:9;
}

.kana-key .top{
    top:-100%;
    left:0;
}

.kana-key .right{
    top:0;
    left:100%;
}

.kana-key .bottom{
    top:100%;
    left:0;
}

.kana-key .left{
    top:0;
    left:-100%;
}

.kana-key .main.in-use,
.kana-key .top.in-use,
.kana-key .left.in-use,
.kana-key .right.in-use,
.kana-key .bottom.in-use{
    background:lime;
}
